body {
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  margin: 0;
  padding: 0;
}

.top-header {
  width: 100%;
 	background: white;
  padding: 14px 25px;
  border-bottom: 1px solid #ddd;
  display: flex;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.page-wrapper {
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.container {
  width: 480px;
  background: #fff;
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 7px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  font-size: 15px;
}

button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 15px;
}

button:hover:not(:disabled) {
  background: #1e4ed8;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  background: white;
}

.todo-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.completed-text {
  text-decoration: line-through;
  color: #888;
}

.delete-btn {
  background: #ef4444;
  padding: 7px 14px;
  border-radius: 6px;
  width: auto;
}

.delete-btn:hover {
  background: #dc2626;
}
